In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("/content/sales_data_with_discounts.csv")

In [ ]:
df

,Date,Day,SKU,City,Volume,BU,Brand,Model,Avg Price,Total Sales Value,Discount Rate (%),Discount Amount,Net Sales Value
0,01-04-2021,Thursday,M01,C,15,Mobiles,RealU,RU-10,12100,181500,11.654820,21153.498820,160346.501200
1,01-04-2021,Thursday,M02,C,10,Mobiles,RealU,RU-9 Plus,10100,101000,11.560498,11676.102960,89323.897040
2,01-04-2021,Thursday,M03,C,7,Mobiles,YouM,YM-99,16100,112700,9.456886,10657.910160,102042.089800
3,01-04-2021,Thursday,M04,C,6,Mobiles,YouM,YM-99 Plus,20100,120600,6.935385,8364.074702,112235.925300
4,01-04-2021,Thursday,M05,C,3,Mobiles,YouM,YM-98,8100,24300,17.995663,4372.946230,19927.053770
...,...,...,...,...,...,...,...,...,...,...,...,...,...
445,15-04-2021,Thursday,L06,C,2,Lifestyle,Jeera,M-Casuals,1300,2600,15.475687,402.367873,2197.632127
446,15-04-2021,Thursday,L07,C,6,Lifestyle,Viva,W-Western,2600,15600,17.057027,2660.896242,12939.103760
447,15-04-2021,Thursday,L08,C,2,Lifestyle,Viva,W-Lounge,1600,3200,18.965550,606.897606,2593.102394
448,15-04-2021,Thursday,L09,C,3,Lifestyle,Jeera,M-Formals,1900,5700,16.793014,957.201826,4742.798174
449,15-04-2021,Thursday,L10,C,1,Lifestyle,Jeera,M-Shoes,3100,3100,15.333300,475.332295,2624.667705

### **Exercise 1 : Prime Numbers**

In [ ]:
num = 7
# Negative numbers, 0 and 1 are not primes
if num > 1:

    # Iterate from 2 to n // 2
    for i in range(2, (num//2)+1):

        # If num is divisible by any number between
        # 2 and n / 2, it is not prime
        if (num % i) == 0:
            print(num, "is not a prime number")
            break
    else:
        print(num, "is a prime number")
else:
    print(num, "is not a prime number")

7 is a prime number

### **Exercise 2 : Product Of Random Numbers**

In [ ]:
num1 = int(input('Enter a number:'))
num2 = int(input('Enter second number:'))
while True:
    answer = int(input('Enter the product:'))
    if answer == num1 * num2:
        print('Correct answer, program ends')
        break

Enter a number:12
Enter second number:12
Enter the product:143
Enter the product:123
Enter the product:144
Correct answer, program ends

### **Exercise 3 : Squares Of Even/Odd Numbers**

In [ ]:
numbers = list(range(1, 101))

result = []
for num in numbers:
    if num % 2 == 0:
        result.append(num ** 2)
    else:
        result.append(num ** 2)

print(result)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

### **Exercise 4 : Word Counter**

In [ ]:
# Python3 code to demonstrate
# to count words in string
# using split()

# initializing string
test_string = "This is a sample text. This text will be used to demonstrate the word counter"

# printing original string
print ("The original string is : " + test_string)

# using split()
# to count words in string
res = len(test_string.split())

# printing result
print ("The number of words in string are : " + str(res))

The original string is : This is a sample text. This text will be used to demonstrate the word counter
The number of words in string are : 15

### **Exercise 5 : Check for Palindrome**

In [ ]:
# function which return reverse of a string

def isPalindrome(s):
    return s == s[::-1]


# Driver code
s = "racecar"
ans = isPalindrome(s)

if ans:
    print("Yes")
else:
    print("No")

Yes